    <header class="bg-blue-500 py-4 flex justify-center	">
        <!-- Your header content -->
        <h1 class="text-white">BUDGET APP</h1>
    </header>
    
    <main class="flex justify-center">
        <!-- Your main content -->
        <p class="">Welcome to your Budget App !</p>
    </main>
    
    <footer class="mt-auto flex flex-col justify-center">
        <% if user_signed_in? %>
            <a href="<%= categories_path %>" class="mb-1 bg-purple-500 py-3 text-white text-center">View categories</button></a>
        <% else %>
  <%= link_to "Log in", new_user_session_path, class: "mb-1 bg-green-500 py-3 text-white text-center" %>

  <%= link_to "Sign up", new_user_registration_path, class: "bg-blue-500 py-3 text-white text-center" %>
     <% end %>
    </footer>
