<%= render "header" %>


  <div class=" px-2 border-2 border-gray-300 mb-2 bg-white"></li>

            <%= render @category %>
         
    </div>

  <footer class="flex flex-col justify-center text-white text-center px-2 w-full">
  <%= link_to "Edit this category", edit_category_path(@category), class: "py-3 mb-2 bg-green-500" %>

  <%= button_to "Destroy this category", @category, method: :delete, class: "py-3 mb-2 bg-red-500 w-full" %>
  </footer>
